{% extends "detailpage_base.html" %}
{% block style %}
.summary-left-fileinfo {
  width: 25%;
  float: left;
}
.summary-middle {
  width: 30%;
  float: left;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10px;
}
.summary-right-date {
  width: 35%;
  float: left;
  display: block;
}
.summary-top {
  position: relative;
  overflow: hidden;
}
.status_header {
  margin: 0;
  margin-bottom: 10px;
}

.skills {
  text-align: right;
  padding: 3px;
  color: white;
  border-radius: 30px;
}

.container {
  background-color: #ddd;
  border-radius: 30px;
}

.severity {
  width: {{ result['threat_level']*20 }}%;
  background-color: #D00000;
}

.confidence {
  width: {{ (5-result['trust_factor'])*20 }}%;
  background-color: #94B60A;
}
{{ super() }}
{% endblock %}
{% block contents %}

  <h1> {{ result['aliases'][0] }} </h1>
  {% if result['threat_name'] %}
  <h3> {{ result['threat_name'] }} </h3>
  {% endif %}
  <div class="summary-top">
    <div class="summary-left-fileinfo">
      <p>
        Size: {{ result['file_size'] }} <br>
        Type: {{ result['file_type'] }} / {{ result['file_subtype'] }} <br>
        Format: {{ result['identification_name'] }}:{{ result['identification_version'] }}
      </p>
    </div>
    <div class="summary-middle">
      <h3 class="status_header">
        <div class="{{ result['threat_status'] }}-circle"></div> {{ result['threat_status'] }}
      </h3>
      {% if result['threat_status'] %}
        {% if result['threat_status'] == 'known' %}
          <div class="container">
            <div class="skills confidence"> Confidence : {{ 5-result['trust_factor'] }} </div>
          </div>
          <p>
          {% set tf = 5-result['trust_factor'] %}
          {% if tf == 0 or tf == 1 %}
          Whitelisted / Reputable Origin
          {% elif tf == 2 or tf == 3 %}
          Likely Benign / Public Origin
          {% elif tf == 4 or tf == 5 %}
          Not a known threat / Unverified Origin
          {% endif %}
        </p>
        {% elif result['threat_status'] == 'malicious' or result['threat_status'] == 'suspicious'%}
        <div class="container">
          <div class="skills severity"> Severity : {{ result['threat_level'] }} </div>
        </div>
        {% elif result['threat_status'] == 'unknown' %}
        <p> No Classification </p>
        {% endif %}
      {% endif %}
    </div>
    <div class="summary-right-date">
      <p>

        {% if result['ticloud'] %}
         Cloud First Seen: {{ result['ticloud']['first_seen'] }}
         {% else %} Local First Seen: {{ result['local_first_seen'] }} {% endif %} <br>
        Local Last Seen: {{ result['local_last_seen'] }}
      </p>
    </div>
  </div>

  <table id="hash-value">
    {% set hash_var = ['md5', 'sha1', 'sha256', 'sha384', 'sha512', 'ripemd160', 'ssdeep', 'imphash'] %}
    {% for hv in hash_var %}
    {% if ticore[hv] %}
    <tr>
      <td id="gray"> {{ hv }} </td>
      <td> {{ ticore[hv] }} </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>

  <div id="description">
    {{ ticore["story"] }}
  </div>

{% endblock %}
