{% extends "detailpage_base.html" %}
{% block style %}
.summary-left-fileinfo {
  width: 25%;
  float: left;
}
.summary-middle {
  width: 50%;
  float: left;
}
.summary-right-date {
  width: 25%;
  float: left;
  display: block;
}
.summary-top {
  position: relative;
  overflow: hidden;
}
{{ super() }}
{% endblock %}
{% block contents %}

  <h1> {{ result['aliases'][0] }} </h1>
  {% if result['threat_name'] %}
  <h3> {{ result['threat_name'] }} </h3>
  {% endif %}
  <div class="summary-top">
    <div class="summary-left-fileinfo">
      <p>
        Size: {{ result['file_size'] }} <br>
        Type: {{ result['file_type'] }} / {{ result['file_subtype'] }} <br>
        Format: {{ result['identification_name'] }}:{{ result['identification_version'] }}
      </p>
    </div>
    <div class="summary-middle">
      <p> middle part </p>
    </div>
    <div class="summary-right-date">
      <p>
        First seen: aaaa <br>
        Last seen: aaaa
      </p>
    </div>
  </div>
  <h3>
    <div class="{{ result['threat_status'] }}-circle"></div> {{ result['threat_status'] }}
  </h3>
  <table id="hash-value">
    {% set hash_var = ['md5', 'sha1', 'sha256', 'sha384', 'sha512', 'ripemd160', 'ssdeep', 'imphash'] %}
    {% for hv in hash_var %}
    {% if ticore[hv] %}
    <tr>
      <td id="gray"> {{ hv }} </td>
      <td> {{ ticore[hv] }} </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>

  <div id="description">
    {{ ticore["story"] }}
  </div>

{% endblock %}
