{% extends "detailpage_base.html" %}
{% block style %}
.summary-left-fileinfo {
  width: 25%;
  float: left;
}
.summary-middle {
  width: 50%;
  float: left;
}
.summary-right-date {
  width: 25%;
  float: left;
  display: block;
}
.summary-top {
  position: relative;
  overflow: hidden;
}
{{ super() }}
{% endblock %}
{% block contents %}

  <h1> file name </h1>
  <h2> threat_name </h2>
  <div class="summary-top">
    <div class="summary-left-fileinfo">
      <p>
        Size: file_size <br>
        Type: file_type / file_subtype <br>
        Format: Identification_name:Identification_version
      </p>
    </div>
    <div class="summary-middle">
      <p> middle part </p>
    </div>
    <div class="summary-right-date">
      <p>
        First seen: aaaa <br>
        Last seen: aaaa
      </p>
    </div>
  </div>
  <h3>
    <div class="{{ result['threat_status'] }}-circle"></div> {{ result['threat_status'] }}
  </h3>
  <table id="hash-value">
    {% set hash_var = ['md5', 'sha1', 'sha256', 'sha384', 'sha512', 'ripemd160', 'ssdeep', 'imphash'] %}
    {% for hv in hash_var %}
    {% if ticore[hv] %}
    <tr>
      <td id="gray"> {{ hv }} </td>
      <td> {{ ticore[hv] }} </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>

  <div id="description">
    {{ ticore["story"] }}
  </div>

{% endblock %}
